{% extends 'base.html.twig' %}

{% block title %}Nos Partenaires{% endblock %}

{% block content %}
    {# Ils nous ont fait confiance...#}
    {# JUMBOTRON  #}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Nos Partenaires</h1>
            <p class="lead">Votre entreprise de services informatiques au Luxembourg</p>
        </div>
    </div>

   {% for bloc in blocs %}
    <div class="container pt-5 pb-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-5 mb-md-0">
                <img src="./images/pages/{{ bloc.image}}" class="img-fluid img-qsn" >
            </div>
            <div class="col-md-7 align-self-center mb-md-0">
                <h1>{{ bloc.titre }}</h1>
                <p class="">{{ bloc.contenu }}</p>
            </div>
        </div>
    </div>
    {# fin ils nous ont fait confiance... #}

    <div class="parallax"></div>
    {% endfor %}
    {# image nos partenaires #}
    <div class="container align-items-center">
        <div class="row align-items-center">
            {% for partenaire in partenaires %}
                <div class="col">
                    <div class="rounded border-primary mb-3 mt-5 mb-5" style="max-width: 20rem;">
                        <div class="card-body d-flex card-partenaires">
                            <img class="align-self-center" src="./images/partenaire/{{ partenaire.urlLogo }}" alt="{{ partenaire.nom }}"
                                 style="max-width: 17rem; max-height:100%;">
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {# fin image nos partenaires #}
{% endblock %}
