{% extends 'base.html.twig' %}

{% block title %}Service index{% endblock %}

{% block content %}
<div class="wrapper">
    {% include('backoffice/menuBackoffice.html.twig') %}
    <div class="container">
        {# <div class="row justify-content-center mt-5 mb-5">
            <div class="col-10"> #}
                <h1 class="pt-5 pb-5">Gestion des services</h1>
                <table class="table">
                    <thead>
                        <tr class="table-primary">
                            <th scope="col">Id</th>
                            <th scope="col">Titre</th>
                            <th scope="col">Subtitle</th>
                            <th scope="col">Contenu</th>
                            <th scope="col">Url_img</th>
                            <th scope="col">Visible</th>
                            <th scope="col">actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for service in services %}
                        <tr>
                            <th scope="row">{{ service.id }}</th>
                            <td>{{ service.titre }}</td>
                            <td>{{ service.subtitle }}</td>
                            <td>{{ service.contenu }}</td>
                            <td>{{ service.urlImg }}</td>
                            <td>{{ service.visible ? 'Yes' : 'No' }}</td>
                            <td>
                                <a href="{{ path('service_show', {'id': service.id}) }}">Voir</a>
                                <a href="{{ path('service_edit', {'id': service.id}) }}">Editer</a>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="7">no records found</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a href="{{ path('service_new') }}">
                    <img class="iconBackoffice" src="/images/Icons/plus-circle-solid.svg" alt="Ajouter un service">
                </a>
            {# </div>
        </div> #}
    </div>

</div>
{% endblock %}