{% extends 'base.html.twig' %}

{% block title %}Service index{% endblock %}

{% block content %}
    <div class="wrapper">
        {% include('backoffice/menuBackoffice.html.twig') %}
        <div id="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-10">
                        <h1>Service index</h1>
                        <table class="table mt-7">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Titre</th>
                                <th>Subtitle</th>
                                <th>Contenu</th>
                                <th>Url_img</th>
                                <th>Visible</th>
                                <th>actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for service in services %}
                                <tr>
                                    <td>{{ service.id }}</td>
                                    <td>{{ service.titre }}</td>
                                    <td>{{ service.subtitle }}</td>
                                    <td>{{ service.contenu }}</td>
                                    <td>{{ service.urlImg }}</td>
                                    <td>{{ service.visible ? 'Yes' : 'No' }}</td>
                                    <td>
                                        <a href="{{ path('service_show', {'id': service.id}) }}">
                                            <img data-toggle="tooltip" data-placement="top" title="Regarder le service" class="iconBackoffice" src="{{ asset('images/Icons/eye-solid.svg') }}"
                                                 alt="Regarder le service">
                                        </a>
                                        <a href="{{ path('service_edit', {'id': service.id}) }}">
                                            <img data-toggle="tooltip" data-placement="top" title="Modifier le service" class="iconBackoffice" src="{{ asset('images/Icons/pen-square-solid.svg') }}"
                                                 alt="Modifier le service">
                                        </a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="7">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <a href="{{ path('service_new') }}">
                            <img data-toggle="tooltip" data-placement="top" title="Ajouter un service" class="iconBackoffice" src="{{ asset('images/Icons/plus-circle-solid.svg') }}"
                                 alt="Ajouter un service">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}