{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}



{% block content %}
<img src="{{ asset('/images/imageSousNav.jpg') }}" class="img-fluid" width="100%" alt="Votre partenaire info...">
{# card #}
{% for service in services %}
<div class="container-fluid pt-5 pb-5">
    <div class="row d-flex justify-content-center">
        <div class="card border-primary mb-3 mr-3" style="max-width: 20rem;">
            <div class="card-header text-primary">
                <h4>{{service.titre}}</h4>
            </div>
            <div class="card-body">
                <h4 class="card-title">{{service.subtitle}}</h4>
                <p class="card-text">{{service.contenu}}</p>
            </div>
        </div>
    </div>
{% endfor %}
    <div class="container-fluid pt-5 pb-5">
        <div class="row d-flex justify-content-center">
            <div class="card border-primary mb-3 mr-3" style="max-width: 20rem;">
                <div class="card-header text-primary">
                    <h4>Conseil</h4>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Primary card title</h4>
                    <p class="card-text">Nous proposons, lors d’un premier contact, à titre gracieux, un audit de
                        sécurité.
                        Une de nos forces est d’être à l’écoute de vos besoins et de vous conseiller dans vos choix pour
                        le
                        matériel,
                        le réseau, la sécurité, les logiciels et les formations.</p>
                </div>
            </div>
            <div class="card border-primary mb-3 mr-3" style="max-width: 20rem;">
                <div class="card-header">Vente</div>
                <div class="card-body">
                    <h4 class="card-title">Primary card title</h4>
                    <p class="card-text">Accès InfoServices vous fournira très rapidement tout le matériel dont vous
                        pouvez
                        avoir
                        besoin quelle que soit votre activité (en cas d’extrême urgence nous avons un stock permanent
                        permettant une
                        livraison dans la journée).</p>
                </div>
            </div>
            <div class="card border-primary mb-3 mr-3" style="max-width: 20rem;">
                <div class="card-header">Installation</div>
                <div class="card-body">
                    <h4 class="card-title">Primary card title</h4>
                    <p class="card-text">Nous faisons tout, lors de l’installation de votre nouveau matériel, pour vous
                        permettre
                        de travailler le plus normalement possible ; si nécessaire nous n’hésitons pas à travailler
                        pendant
                        vos horaires
                        de fermetures. Nous vous accompagnons dans la migration de vos logiciels existants, le transfert
                        de
                        vos données
                        et leurs sauvegardes.</p>
                </div>
            </div>
        </div>
        {# deuxième row #}
        <div class="row d-flex justify-content-center">
            <div class="card border-primary mb-3 mr-3" style="max-width: 20rem;">
                <div class="card-header">Assistance</div>
                <div class="card-body">
                    <h4 class="card-title">Primary card title</h4>
                    <p class="card-text">Nous assurons un support téléphonique, une télémaintenance et une maintenance
                        physique
                        (inclus dans les contrats de maintenance et d’extension de garantie).</p>
                </div>
            </div>
            <div class="card border-primary mb-3 mr-3" style="max-width: 20rem;">
                <div class="card-header">Maintenance</div>
                <div class="card-body">
                    <h4 class="card-title">Primary card title</h4>
                    <p class="card-text">Lors d’une nouvelle installation, nous proposons un contrat de maintenance et
                        une
                        extension
                        de garantie jusqu’à 36 mois, afin de vous accompagner au quotidien et si nécessaire nous
                        intervenons
                        sur site à J+1 ouvré.
                        Nous avons également des forfaits d’intervention pour l’entretien et la réparation des parcs
                        existants.</p>
                </div>
            </div>
            <div class="card border-primary mb-3 mr-3" style="max-width: 20rem;">
                <div class="card-header">Intervention</div>
                <div class="card-body">
                    <h4 class="card-title">Primary card title</h4>
                    <p class="card-text">Intervention et assistance sur poste informatique. Diagnostic et résolution de
                        dysfonctionnement de vos équipements informatiques</p>
                </div>
            </div>
        </div>
    </div>
</div>
{# fin card #}


<div class="parallax"></div>
{# qui somme nous #}

<div class="container pt-5 pb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-5 d-flex justify-content-center">
            <img src="{{ asset('/images/QSnous.png') }}" class="img-fluid" width="50%">
        </div>
        <div class="col-7 align-self-center">
            <h4>Qui sommes nous </h4>
            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus harum eveniet distinctio
                qui
                quia architecto
                minima quas quae laudantium atque?</p>
        </div>
    </div>
</div>
<div class="parallax"></div>
{# fin qui somme nous #}



{# Ils nous font confiance #}
<div class="container pt-5 pb-5">
    <div class="row d-flex justify-content-center">
        <h4>Ils nous font confiance</h4>
    </div>
    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item  pt-3" data-ride="carousel">
        {# d-flex justify-content-around #}
        <!--Controls-->
        <div class="controls-top d-flex justify-content-around">
            <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i
                    class="fas fa-chevron-circle-left fa-2x"></i></a>
            <a class="btn-floating" href="#multi-item-example" data-slide="next"><i
                    class="fas fa-chevron-circle-right fa-2x"></i></i></a>
        </div>
        <!--/.Controls-->

        <!--Indicators-->
        {# <ol class="carousel-indicators">
            <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
            <li data-target="#multi-item-example" data-slide-to="1"></li>
            <li data-target="#multi-item-example" data-slide-to="2"></li>
        </ol> #}
        <!--/.Indicators-->

        <!--Slides-->
        <div class="carousel-inner" role="listbox">

            <!--First slide-->
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-2">
                            <img class="card-img-top"
                                src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                                alt="Card image cap">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-2">
                            <img class="card-img-top"
                                src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                                alt="Card image cap">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-2">
                            <img class="card-img-top"
                                src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
                                alt="Card image cap">
                        </div>
                    </div>
                </div>
            </div>
            <!--/.First slide-->

            <!--Second slide-->
            <div class="carousel-item">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-2">
                            <img class="card-img-top"
                                src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
                                alt="Card image cap">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-2">
                            <img class="card-img-top"
                                src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg"
                                alt="Card image cap">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-2">
                            <img class="card-img-top"
                                src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg"
                                alt="Card image cap">
                        </div>
                    </div>
                </div>
            </div>
            <!--/.Second slide-->

            <!--Third slide-->
            <div class="carousel-item">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-2">
                            <img class="card-img-top"
                                src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(53).jpg"
                                alt="Card image cap">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-2">
                            <img class="card-img-top"
                                src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).jpg"
                                alt="Card image cap">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-2">
                            <img class="card-img-top"
                                src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(51).jpg"
                                alt="Card image cap">
                        </div>
                    </div>
                </div>
            </div>
            <!--/.Third slide-->
        </div>
    </div>
</div>
{# Fin Ils nous font confiance #}
{% endblock %}