{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}
    {# card #}
    <div class="toto">
        <img src="{{ asset('/images/imageSousNav.jpg') }}" class="img-fluid" width="100%" alt="Votre partenaire info...">
        <div class="centered text-center">
            <h3>Votre partenaire informatique au Luxembourg</h3>
        </div>
    </div>


{% for message in app.flashes('notice') %}
<div class="flash-notice alert alert-success text-center" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h2><i class="fas fa-check-circle mr-2"></i>{{ message }}</h2>
</div>
{% endfor %}

    <div class="container pt-5 pb-5">
        <div class="row d-flex justify-content-center">
            {% for service in services %}
                <div class="card border-primary m-2" style="max-width: 20rem;">
                    <div class="card-header">
                        <img class="logoService" src="./images/Service/{{ service.UrlImg }}" alt="logo service">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{ service.titre }}</h4>
                        <p class="card-text">{{ service.contenu }}</p>
                    </div>
                    <div class="align-self-end m-2">
                        {% set match = 0 %}
                        {% for sousService in sousServices %}
                            {% if sousService.service.id == service.id %}
                                {% set match = match + 1 %}
                            {% endif %}
                        {% endfor %}
                        {% if match > 0 %}
                            <a class="btn btn-primary btn-sm" href="{{ path('service_detail', {'id': service.id}) }}" role="button">En savoir plus</a>
                        {% else %}
                            <div class="align-self-end m-2">
                                <a class="btn btn-primary btn-sm" href="#" data-toggle="modal" data-target="#modalRegisterForm"
                                   role="button">Nous contacter</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {# fin card #}

    {#Modal formulaire#}
    <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center ">
                    <h4 class="modal-title w-100 font-weight-bold">Nous contacter</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                        {{ form_start(form) }}
                        {{ form_row(form.nom) }}
                        {{ form_row(form.prenom) }}
                        {{ form_row(form.email) }}
                        {{ form_row(form.tel) }}
                        {{ form_row(form.rue) }}
                        {{ form_row(form.cp)}}
                        {{ form_row(form.ville) }}
                        {{ form_row(form.pro) }}
                        {{ form_row(form.entreprise, { 'attr': {'placeholder': 'Rentrez le nom de votre entreprise'} }) }}
                        {{ form_row(form.message) }}
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">
                            Envoyer
                        </button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    {#Fin modal formulaire#}


    <div class="parallax"></div>
    {# qui somme nous #}


    <div class="container pt-5 pb-5">
        <div class="row d-flex justify-content-center">
            <div class="col-5 d-flex justify-content-center">
                <img src="{{ asset('/images/QSnous.png') }}" class="img-fluid img-qsn" width="50%">
            </div>
            <div class="col-7 align-self-center">
                <h1>Qui sommes nous ?</h1>
                <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus harum eveniet distinctio
                    qui
                    quia architecto
                    minima quas quae laudantium atque?</p>
            </div>
        </div>
    </div>
    <div class="parallax"></div>
    {# fin qui somme nous #}



    {# Ils nous font confiance
    <div class="container pt-5 pb-5">
    <div class="row d-flex justify-content-center">
        <h4>Ils nous font confiance</h4>
    </div>
    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item  pt-3" data-ride="carousel">
        {# d-flex justify-content-around
        <!--Controls-->
        <div class="controls-top d-flex justify-content-around">
            <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i
                    class="fas fa-chevron-circle-left fa-2x"></i></a>
            <a class="btn-floating" href="#multi-item-example" data-slide="next"><i
                    class="fas fa-chevron-circle-right fa-2x"></i></a>
        </div>
        <!--/.Controls-->

        <!--/.Indicators-->
        <!--Slides-->
        <div class="carousel-inner" role="listbox">

            <!--First slide-->
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-2">
                            <img class="card-img-top"
                                src="https://upload.wikimedia.org/wikipedia/fr/thumb/4/47/Nvidia_%28logo%29.svg/1280px-Nvidia_%28logo%29.svg.png"
                                alt="Card image cap">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-2">
                            <img class="card-img-top"
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Intel-logo.svg/1280px-Intel-logo.svg.png"
                                alt="Card image cap">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-2">
                            <img class="card-img-top"
                                src="https://upload.wikimedia.org/wikipedia/fr/thumb/5/53/Logo_Logitech.svg/1187px-Logo_Logitech.svg.png"
                                alt="Card image cap">
                        </div>
                    </div>
                </div>
            </div>
            <!--/.First slide-->

            <!--Second slide-->
            <div class="carousel-item">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-2">
                            <img class="card-img-top"
                                src="http://www.enostech.com/wp-content/uploads/2019/02/asus-logo.jpg"
                                alt="Card image cap">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-2">
                            <img class="card-img-top"
                                src="https://cdn.freebiesupply.com/logos/large/2x/aoc-3-logo-png-transparent.png"
                                alt="Card image cap">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-2">
                            <img class="card-img-top"
                                src="https://stationpc.be/wp-content/uploads/2017/06/Western_Digital_logo_logotype_emblem.png"
                                alt="Card image cap">
                        </div>
                    </div>
                </div>
            </div>
            <!--/.Second slide-->

            <!--Third slide-->
            <!--/.Third slide-->
        </div>
    </div>
</div>#}
    {# Fin Ils nous font confiance #}
{% endblock %}
{% block jquery %}
    <script>
        $("#renseignement_nom").blur(function () {

            if ($("#renseignement_nom").val().length < 2) {
                $("#renseignement_nom").addClass('is-invalid');
            } else {
                $("#renseignement_nom").removeClass('is-invalid');
            }

        });

        $("#renseignement_prenom").blur(function () {

            if ($("#renseignement_prenom").val().length < 2) {
                $("#renseignement_prenom").addClass('is-invalid');
            } else {
                $("#renseignement_prenom").removeClass('is-invalid');
            }

        });

        $("#renseignement_email").blur(function () {

            if ($("#renseignement_email").val().length < 5) {
                $("#renseignement_email").addClass('is-invalid');
            } else {
                $("#renseignement_email").removeClass('is-invalid');
            }

        });

        $("#renseignement_tel").blur(function () {

            if ($("#renseignement_tel").val().length < 10) {
                $("#renseignement_tel").addClass('is-invalid');
            } else {
                $("#renseignement_tel").removeClass('is-invalid');
            }

        });

        $("#renseignement_rue").blur(function () {

            if ($("#renseignement_rue").val().length < 10) {
                $("#renseignement_rue").addClass('is-invalid');
            } else {
                $("#renseignement_rue").removeClass('is-invalid');
            }

        });

        $("#renseignement_cp").blur(function () {

            if ($("#renseignement_cp").val().length < 4) {
                $("#renseignement_cp").addClass('is-invalid');
            } else {
                $("#renseignement_cp").removeClass('is-invalid');
            }

        });

        $("#renseignement_ville").blur(function () {

            if ($("#renseignement_ville").val().length < 3) {
                $("#renseignement_ville").addClass('is-invalid');
            } else {
                $("#renseignement_ville").removeClass('is-invalid');
            }

        });

        $("#renseignement_message").blur(function () {

            if ($("#renseignement_message").val().length < 10) {
                $("#renseignement_message").addClass('is-invalid');
            } else {
                $("#renseignement_message").removeClass('is-invalid');
            }

        });

        $(document).ready(function () {
            $('#renseignement_pro').click(function () {
                $('#renseignement_entreprise').toggle();
            });
        });
    </script>

{% endblock %}