{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}
    {# card #}
    <div class="headerImg text-center">
        <h1 class="slogan">Votre partenaire informatique au Luxembourg</h1>
        <a href="#nos_services">
            <div class="arrow bounce">
            </div>
        </a>
    </div>


    {% for message in app.flashes('notice') %}
        <div class="flash-notice alert alert-success text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h2><i class="fas fa-check-circle mr-2"></i>{{ message }}</h2>
        </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="flash-notice alert alert-danger text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h2><i class="fas fa-times-circle"></i>{{ message }}</h2>
        </div>
    {% endfor %}
    <div class="container pt-5 pb-5">
        <div class="pb-5">
            <h1 id="nos_services">Nos services</h1>
        </div>
        <div class="row d-flex justify-content-center">

            {% for service in services %}
                <div class="card border-primary m-2" style="max-width: 20rem; min-width: 20rem;">
                    <div class="card-header">
                        <img class="logoService" src="./images/Service/{{ service.UrlImg }}" alt="logo service">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{ service.titre }}</h4>
                        <p class="card-text">{{ service.contenu }}</p>
                    </div>
                    <div class="align-self-end m-2">
                        {% set match = 0 %}
                        {% for sousService in sousServices %}
                            {% if sousService.service.id == service.id %}
                                {% set match = match + 1 %}
                            {% endif %}
                        {% endfor %}
                        {% if match > 0 %}
                            <a class="btn btn-primary btn-sm" href="{{ path('service_detail', {'id': service.id}) }}"
                               role="button">En savoir plus</a>
                        {% else %}
                            <div class="align-self-end m-2">
                                <a class="btn btn-primary btn-sm" href="#" data-toggle="modal"
                                   data-target="#modalRegisterForm"
                                   role="button">Nous contacter</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {# fin card #}

    {# include modal #}
    {% include "contactFormModal.html.twig" %}


    <div class="parallax"></div>
    {# qui somme nous #}

    {% for bloc in blocs %}
        <div class="container pt-5 pb-5">
            <div class="row d-flex justify-content-center">
                <div class="col-5 d-flex justify-content-center">
                    <img src="./images/pages/{{ bloc.image }}" alt="{{ bloc.titre }}" class="img-fluid img-qsn">
                </div>
                <div class="col-7 align-self-center">
                    <h1>{{ bloc.titre }}</h1>
                    <p> {{ bloc.contenu }}</p>
                </div>
            </div>
        </div>
        <div class="parallax"></div>
    {% endfor %}
{% endblock %}
{% block jquery %}
    {% include 'JqueryBlock.html.twig' %}
    {% include 'jqueryContact.html.twig' %}
{% endblock %}
