{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}
    {# card #}
    <div class="toto">
    <img src="{{ asset('/images/Partenaires/imageSousNav.jpg') }}" class="img-fluid" width="100%" alt="Votre partenaire info...">
    <div class="centered text-center">
        <h3>Votre partenaire informatique au Luxembourg</h3>
    </div>
</div>

    <div class="container pt-5 pb-5">
        <div class="row d-flex justify-content-center">
            {% for service in services %}
                <div class="card border-primary mb-3 mr-3" style="max-width: 20rem;">
                    <div class="card-header text-primary">
                        <h4>{{ service.titre }}</h4>
                    </div>
                    <div class="card-header">
                        <img class="logoService" src="./images/Service/{{ service.UrlImg }}" alt="logo service">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{ service.subtitle }}</h4>
                        <p class="card-text">{{ service.contenu }}</p>
                    </div>
                    <div class="align-self-end m-2">
                        <a class="btn btn-primary btn-sm text-white"
                           href="{{ path('service_detail', {'id': service.id}) }}"
                           role="button">En savoir plus</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {# fin card #}
    <div class="parallax"></div>
    {# qui somme nous #}
</div>
    {# Fin Ils nous font confiance #}
{% endblock %}