{{ form_start(form) }}

    {{ form_widget(form) }}
    {{ form_widget(form.UrlImg) }}

<div class="btn-group">
        <span class="btn-light">
        <a href="{{ path('detail_service_index') }}">
            <img data-toggle="tooltip" data-placement="top" title="Revenir à la liste"
                 class="iconBackoffice"
                 src="{{ asset('images/Icons/arrow-left-solid.svg') }}"
                 alt="Revenir à la liste">
        </a>
    </span>
    <span class="btn-light">
        <button class="btn enregistrer" data-toggle="tooltip" data-placement="top" title="Enregistrer">
            {{ button_label|default(' ') }}
        </button>
    </span>
</div>
{{ form_end(form) }}


