{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block content %}
    {# JUMBOTRON  #}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Contact</h1>
            <p class="lead">Votre entreprise de services informatiques au Luxembourg</p>
        </div>
    </div>

    {% for message in app.flashes('notice') %}
        <div class="flash-notice alert alert-success text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h2><i class="fas fa-check-circle mr-2"></i>{{ message }}</h2>
        </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="flash-notice alert alert-danger text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h2><i class="fas fa-times-circle"></i>{{ message }}</h2>
        </div>
    {% endfor %}

    {# qui sommes nous #}
    {% for bloc in blocs %}
        <div class="container pt-5 pb-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-5 mb-md-0">
                    <img src="./images/pages/{{ bloc.image }}" class="img-fluid img-qsn">
                </div>
                <div class="col-md-7 align-self-center mb-md-0">
                    <h1>{{ bloc.titre }}</h1>
                    <p class="">{{ bloc.contenu }}</p>
                </div>
            </div>
        </div>
        {# fin qui sommes nous #}

        <div class="parallax"></div>
    {% endfor %}

    <!--Section: Contact v.2-->
    <div class="container pt-3 pb-5">
        <!--Section heading-->
        <h2 class="h1-responsive font-weight-bold text-center my-4 pb-4">Contactez nous</h2>
        <!--Section description-->
        <div class="col-md-12">
            {{ form_start(form) }}
            <div class="row">
                <!--Grid column1-->
                <div class="col-md-4 mb-md-0 mb-5 ">
                    <i class='fas fa-user-alt d-flex justify-content-center' style='font-size:36px'></i>
                    <!--Grid row-->
                    <div class="row">
                        <!--Grid column-->
                        <div class="col-md-12">
                            <div class="md-form  mt-3 pt-5">
                                {{ form_widget(form.nom) }}
                                {{ form_label(form.nom) }}
                            </div>
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                    <div class="row">
                        <!--Grid column-->
                        <div class="col-md-12">
                            <div class="md-form mb-0">
                                {{ form_widget(form.prenom) }}
                                {{ form_label(form.prenom) }}
                            </div>
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                    <!--Grid row-->
                    <div class="row">
                        <!--Grid column-->
                        <div class="col-md-12">
                            <div class="md-form mb-0">
                                {{ form_widget(form.email) }}
                                {{ form_label(form.email) }}
                            </div>
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                    <div class="row">
                        <!--Grid column-->
                        <div class="col-md-12">
                            <div class="md-form mb-0">
                                {{ form_widget(form.tel) }}
                                {{ form_label(form.tel) }}
                            </div>
                        </div>
                        <!--Grid column-->
                    </div>

                    <!--Grid row-->
                </div>
                <!--Grid column1-->
                <!--Grid column2-->
                <div class="col-md-4 mb-md-0 mb-5">
                    <i class='fas fa-home d-flex justify-content-center' style='font-size:36px'></i>
                    <!--Grid row-->
                    <div class="row">
                        <!--Grid column-->
                        <div class="col-md-12 mt-4">
                            <div class="md-form mt-3 mb-0 text-center">
                                <div class="custom-control custom-switch">
                                    {{ form_widget(form.pro, {
                                        'attr':{'class': 'custom-control-input'}
                                    }) }}
                                    {{ form_label(form.pro, {
                                        'attr':{'class': 'custom-control-label'}
                                    }) }}
                                </div>
                            </div>
                            <div class="row">
                                <!--Grid column-->
                                <div class="col-md-12">
                                    <div class="md-form">
                                        {{ form_widget(form.entreprise) }}
                                        {{ form_label(form.entreprise) }}
                                    </div>
                                </div>
                                <!--Grid column-->
                            </div>
                        </div>

                        <!--Grid column-->
                        <div class="col-md-12">
                            <div class="md-form mb-0">
                                {{ form_widget(form.rue) }}
                                {{ form_label(form.rue) }}
                            </div>
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                    <div class="row">
                        <!--Grid column-->
                        <div class="col-md-12">
                            <div class="md-form mb-0">
                                {{ form_widget(form.cp) }}
                                {{ form_label(form.cp) }}
                            </div>
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                    <!--Grid row-->
                    <div class="row">
                        <!--Grid column-->
                        <div class="col-md-12">
                            <div class="md-form mb-0">
                                {{ form_widget(form.ville) }}
                                {{ form_label(form.ville) }}
                            </div>
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                </div>
                <!--Grid column2-->
                <!--Grid column3-->
                <div class="col-md-4 mb-md-0 mb-5">
                    <i class='fas fa-envelope d-flex justify-content-center' style='font-size:36px'></i>
                    <!--Grid row-->
                    <div class="row">
                        <!--Grid column-->
                        <div class="col-md-12">
                            <div class="md-form mt-3 pt-5">
                                {{ form_widget(form.sujet) }}
                                {{ form_label(form.sujet) }}
                            </div>
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                    <!--Grid row-->
                    <div class="row ">
                        <!--Grid column-->
                        <div class="col-md-12">
                            <div class="md-form mb-0" style="box-shadow: inset 0 -1px 2px #ddd">
                                {{ form_widget(form.message) }}
                            </div>
                            <div class="md-form mb-0">
                                {{ form_label(form.message) }}
                            </div>
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                </div>
                <!--Grid column3-->
                <div class="text-center mx-auto">
                    <div class="g-recaptcha" data-sitekey="6Lfm2KwUAAAAAI2IcrpqOTi732txCCgW52RcmUbe"></div>
                    <button type="submit" class="btn-lg btn-primary">
                        ENVOYER
                    </button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <!--Section: Contact-->


    <div class="parallax"></div>


    <div class="container pt-3 pb-2">
        <div class="row">
            <div class="col-md-6 mb-3 mt-3">
                <iframe width="100%" height="350" marginwidth="0"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2585.6581137922417!2d6.124425915700914!3d49.6041963793675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479548d6c4138577%3A0x658dc00aace47498!2s29+Rue+Michel+Rodange%2C+2430+Luxembourg!5e0!3m2!1sfr!2sfr!4v1560503009747!5m2!1sfr!2sfr"></iframe>
            </div>
            <div class="text-center col-md-6 mb-3 mt-3">
                <div>
                    <h2>Acces InfoServices</h2>
                    <hr>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4>Adresse</h4>
                        <address>
                            3550 Dudelange<br>
                            Luxembourg<br>
                        </address>
                    </div>

                    <div class="col-md-6">
                        <h4>Contact</h4>
                        <div>
                            <strong>info@accesinfoservices.lu</strong><br>
                            <br>
                            <strong>Yves</strong><br>
                            <a href="tel:+352661630430">
                                +352 661 630 430<br>
                            </a>
                            <strong>Phone Service Center à Esch</strong><br>
                            <a href="tel:+35224559855">
                                +352 24 55 98 55<br>
                            </a>
                            <strong>Acces InfoServices à Esch</strong><br>
                            <a href="tel:+35224559856">
                                +352 24 55 98 56<br>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block jquery %}
    {% include 'jqueryContact.html.twig' %}
{% endblock %}