{% extends 'base.html.twig' %}

{% block title %}AccesInfoService - Backoffice - Les services{% endblock %}

{% block content %}
    <div class="wrapper">
        {% include('menuBackoffice.html.twig') %}
        <div class="container content">
            <h1 class="pt-3 pb-3">
                Gestion des Services&nbsp;-&nbsp;
                <span class="btn-light">
                    <a href="{{ path('service_new') }}">
                        <img data-toggle="tooltip" data-placement="top" title="Ajouter un service"
                             class="iconBackofficeAdd"
                             src="{{ asset('images/Icons/plus-square-regular.svg') }}"
                             alt="Ajouter un service">
                    </a>
                </span>
            </h1>
            <table class="table table-striped">
                <thead>
                    <tr class="table-primary">
                        <th>Identifiant</th>
                        <th>Titre</th>
                        <th>Sous-titre</th>
                        <th>Contenu</th>
                        <th>Nom de l'image</th>
                        <th>Visible sur le site ?</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for service in services %}
                    <tr>
                        <td>{{ service.id }}</td>
                        <td>{{ service.titre }}</td>
                        <td>{{ service.subtitle }}</td>
                        <td>{{ service.contenu }}</td>
                        <td>{{ service.urlImg }}</td>
                        <td>{{ service.visible ? 'Oui' : 'Non' }}</td>
                        <td class="btn-group">
                            <div class="btn-light">
                                <a href="{{ path('service_show', {'id': service.id}) }}">
                                    <img data-toggle="tooltip" data-placement="top"
                                         title="Regarder le service"
                                         class="iconBackoffice align-middle"
                                         src="{{ asset('images/Icons/search-solid.svg') }}"
                                         alt="Regarder le service">
                                </a>
                            </div>
                            <div class="btn-light">
                                <a href="{{ path('service_edit', {'id': service.id}) }}">
                                    <img data-toggle="tooltip" data-placement="top"
                                         title="Modifier le service"
                                         class="iconBackoffice"
                                         src="{{ asset('images/Icons/edit-solid.svg') }}"
                                         alt="Modifier le service">
                                </a>
                            </div>
                            {{ include('Backoffice/service/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">Pas de service trouvé.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
