{% extends 'base.html.twig' %}

{% block title %}AccesInfoService - Backoffice - Les partenaires{% endblock %}

{% block content %}
<div class="wrapper">
    {% include('menuBackoffice.html.twig') %}
    <div class="container">
        <h1 class="pt-3 pb-3">
            Gestion des partenaires -
            <span class="btn-light">
                    <a href="{{ path('partenaire_new') }}">
                        <img data-toggle="tooltip" data-placement="top" title="Ajouter un partenaire"
                             class="iconBackofficeAdd"
                             src="{{ asset('images/Icons/plus-square-regular.svg') }}"
                             alt="Ajouter un partenaire">
                    </a>
                </span>
        </h1>
        <table class="table table-striped">
            <thead>
                <tr class="table-primary">
                    <th>Identifiant</th>
                    <th>Nom</th>
                    <th>Nom de l'image</th>
                    <th>Ordre d'affichage</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for partenaire in partenaires %}
                <tr>
                    <td>{{ partenaire.id }}</td>
                    <td>{{ partenaire.nom }}</td>
                    <td>{{ partenaire.urlLogo }}</td>
                    <td>{{ partenaire.OrdreAffichage }}</td>
                    <td class="btn-group">
                        <div class="btn-light">
                            <a href="{{ path('partenaire_show', {'id': partenaire.id}) }}">
                                <img data-toggle="tooltip" data-placement="top"
                                     title="Regarder le partenaire"
                                     class="iconBackoffice align-middle"
                                     src="{{ asset('images/Icons/search-solid.svg') }}"
                                     alt="Regarder le partenaire">
                            </a>
                        </div>
                        <div class="btn-light">
                            <a href="{{ path('partenaire_edit', {'id': partenaire.id}) }}">
                                <img data-toggle="tooltip" data-placement="top"
                                     title="Modifier le partenaire"
                                     class="iconBackoffice"
                                     src="{{ asset('images/Icons/edit-solid.svg') }}"
                                     alt="Modifier le partenaire">
                            </a>
                        </div>
                        {{ include('Backoffice/partenaire/_delete_form.html.twig') }}
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="4">Pas de partenaire trouvé</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
