{{ form_start(form) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.prenom) }}
        {{ form_row(form.email) }}
        {{ form_row(form.tel) }}
        {{ form_row(form.rue) }}
        {{ form_row(form.cp)}}
        {{ form_row(form.ville) }}
        {{ form_row(form.pro) }}
        {{ form_row(form.entreprise, { 'attr': {'placeholder': 'Nom de l\'entreprise'} }) }}
        {{ form_row(form.sujet) }}
        {{ form_row(form.message) }}
<div class="btn-group">
    <span class="btn-light">
        <a href="{{ path('renseignement_index') }}">
            <img data-toggle="tooltip" data-placement="top" title="Revenir à la liste"
                 class="iconBackoffice"
                 src="{{ asset('images/Icons/arrow-left-solid.svg') }}"
                 alt="Revenir à la liste">
        </a>
    </span>
        <span class="btn-light">
        <button class="btn enregistrer" data-toggle="tooltip" data-placement="top" title="Enregistrer">
            {{ button_label|default(' ') }}
        </button>
    </span>
</div>
{{ form_end(form) }}
