{% extends 'base.html.twig' %}

{% block title %}AccesInfoService - Backoffice - Afficher un message{% endblock %}

{% block content %}
    <div class="wrapper">
        {% include('menuBackoffice.html.twig') %}
        <div class="container">
            <h1 class="pt-3 pb-3">Message de&nbsp;:&nbsp;
                <span class="titreBack">{{ contactSimple.prenom ~' '~ contactSimple.nom}}</span>.
            </h1>
            <table class="table table-striped">
                <tbody>
                <tr>
                    <th>Identifiant</th>
                    <td>{{ contactSimple.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ contactSimple.nom }}</td>
                </tr>
                <tr>
                    <th>Prénom</th>
                    <td>{{ contactSimple.prenom }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ contactSimple.email }}</td>
                </tr>
                <tr>
                    <th>Tel</th>
                    <td>{{ contactSimple.tel }}</td>
                </tr>
                <tr>
                    <th>Rue</th>
                    <td>{{ contactSimple.rue }}</td>
                </tr>
                <tr>
                    <th>Cp</th>
                    <td>{{ contactSimple.cp }}</td>
                </tr>
                <tr>
                    <th>Ville</th>
                    <td>{{ contactSimple.ville }}</td>
                </tr>
                <tr>
                    <th>Pro</th>
                    <td>{{ contactSimple.pro ? 'Oui' : 'Non' }}</td>
                </tr>
                <tr>
                    <th>Entreprise</th>
                    <td>{{ contactSimple.entreprise }}</td>
                </tr>
                <tr>
                    <th>Sujet</th>
                    <td>{{ contactSimple.sujet }}</td>
                </tr>
                <tr>
                    <th>Message</th>
                    <td>{{ contactSimple.message }}</td>
                </tr>
                <tr>
                    <th>DateMessage</th>
                    <td>{{ contactSimple.dateMessage ? contactSimple.dateMessage|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Actions</th>
                    <td>
                        <div class="btn-group">
                            {{ include('Backoffice/renseignement/_delete_formContact.html.twig') }}
                            <div class="btn-light">
                                <a href="{{ path('contactSimple_edit', {'id': contactSimple.id}) }}">
                                    <img data-toggle="tooltip" data-placement="top"
                                         title="Modifier le message"
                                         class="iconBackoffice"
                                         src="{{ asset('images/Icons/edit-solid.svg') }}"
                                         alt="Modifier le message">
                                </a>
                            </div>
                            <div class="btn-light">
                                <a href="{{ path('renseignement_index') }}">
                                    <img data-toggle="tooltip" data-placement="top" title="Revenir à la liste"
                                         class="iconBackoffice"
                                         src="{{ asset('images/Icons/arrow-left-solid.svg') }}"
                                         alt="Revenir à la liste">
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
