{% extends 'base.html.twig' %}

{% block title %}AccesInfoService - Backoffice - Afficher un message{% endblock %}

{% block content %}
    <div class="wrapper">
        {% include('menuBackoffice.html.twig') %}
        <div class="container">
            <h1 class="pt-5 pb-5">Afficher le message de {{ renseignement.prenom ~' '~ renseignement.nom}}</h1>
            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ renseignement.id }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ renseignement.nom }}</td>
                    </tr>
                    <tr>
                        <th>Prenom</th>
                        <td>{{ renseignement.prenom }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ renseignement.email }}</td>
                    </tr>
                    <tr>
                        <th>Tel</th>
                        <td>{{ renseignement.tel }}</td>
                    </tr>
                    <tr>
                        <th>Rue</th>
                        <td>{{ renseignement.rue }}</td>
                    </tr>
                    <tr>
                        <th>Cp</th>
                        <td>{{ renseignement.cp }}</td>
                    </tr>
                    <tr>
                        <th>Ville</th>
                        <td>{{ renseignement.ville }}</td>
                    </tr>
                    <tr>
                        <th>Pro</th>
                        <td>{{ renseignement.pro ? 'Yes' : 'No' }}</td>
                    </tr>
                    <tr>
                        <th>Entreprise</th>
                        <td>{{ renseignement.entreprise }}</td>
                    </tr>
                    <tr>
                        <th>Message</th>
                        <td>{{ renseignement.message }}</td>
                    </tr>
                    <tr>
                        <th>DateMessage</th>
                        <td>{{ renseignement.dateMessage ? renseignement.dateMessage|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                </tbody>
            </table>

            <a href="{{ path('renseignement_index') }}">back to list</a>

            <a href="{{ path('renseignement_edit', {'id': renseignement.id}) }}">edit</a>

            {{ include('Backoffice/renseignement/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
